sitebuilderjs/.serverless/serverless-state.json
{
  "service": {
    "service": "mattw-reinvent2017-build-website",
    "serviceObject": {
      "name": "mattw-reinvent2017-build-website"
    },
    "provider": {
      "stage": "dev",
      "region": "us-east-1",
      "variableSyntax": "\\${([ ~:a-zA-Z0-9._'\",\\-\\/\\(\\)]+?)}",
      "name": "aws",
      "runtime": "nodejs6.10",
      "iamRoleStatements": [
        {
          "Effect": "Allow",
          "Action": [
            "states:StartExecution"
          ],
          "Resource": [
            {
              "Ref": "MyStateMachine"
            }
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "codecommit:GetCommit",
            "codecommit:GetDifferences"
          ],
          "Resource": [
            "arn:aws:codecommit:us-east-1:#{AWS::AccountId}:reinvent2017-website"
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "codebuild:BatchGetBuilds"
          ],
          "Resource": [
            "*"
          ]
        },
        {
          "Effect": "Allow",
          "Action": [
            "sns:Publish"
          ],
          "Resource": [
            "*"
          ]
        }
      ],
      "versionFunctions": true,
      "remoteFunctionData": null,
      "compiledCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "ServerlessDeploymentBucket": {
            "Type": "AWS::S3::Bucket"
          },
          "BuildSiteLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-buildSite"
            }
          },
          "WhatChangedLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-whatChanged"
            }
          },
          "BuildDockerLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-buildDocker"
            }
          },
          "IsTheContainerBuiltLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-isTheContainerBuilt"
            }
          },
          "IsItBuiltLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-isItBuilt"
            }
          },
          "DoneLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-done"
            }
          },
          "StartStepFunctionLogGroup": {
            "Type": "AWS::Logs::LogGroup",
            "Properties": {
              "LogGroupName": "/aws/lambda/mattw-reinvent2017-build-website-dev-startStepFunction"
            }
          },
          "IamRoleLambdaExecution": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": [
                        "lambda.amazonaws.com"
                      ]
                    },
                    "Action": [
                      "sts:AssumeRole"
                    ]
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": {
                    "Fn::Join": [
                      "-",
                      [
                        "dev",
                        "mattw-reinvent2017-build-website",
                        "lambda"
                      ]
                    ]
                  },
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "logs:CreateLogStream"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-buildSite:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-whatChanged:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-buildDocker:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-isTheContainerBuilt:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-isItBuilt:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-done:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-startStepFunction:*"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "logs:PutLogEvents"
                        ],
                        "Resource": [
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-buildSite:*:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-whatChanged:*:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-buildDocker:*:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-isTheContainerBuilt:*:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-isItBuilt:*:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-done:*:*"
                          },
                          {
                            "Fn::Sub": "arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/mattw-reinvent2017-build-website-dev-startStepFunction:*:*"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "states:StartExecution"
                        ],
                        "Resource": [
                          {
                            "Ref": "MyStateMachine"
                          }
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "codecommit:GetCommit",
                          "codecommit:GetDifferences"
                        ],
                        "Resource": [
                          "arn:aws:codecommit:us-east-1:#{AWS::AccountId}:reinvent2017-website"
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "codebuild:BatchGetBuilds"
                        ],
                        "Resource": [
                          "*"
                        ]
                      },
                      {
                        "Effect": "Allow",
                        "Action": [
                          "sns:Publish"
                        ],
                        "Resource": [
                          "*"
                        ]
                      }
                    ]
                  }
                }
              ],
              "Path": "/",
              "RoleName": {
                "Fn::Join": [
                  "-",
                  [
                    "mattw-reinvent2017-build-website",
                    "dev",
                    "us-east-1",
                    "lambdaRole"
                  ]
                ]
              }
            }
          },
          "BuildSiteLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-buildSite",
              "Handler": "handler.build",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6
            },
            "DependsOn": [
              "BuildSiteLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "BuildSiteLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "BuildSiteLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "WhatChangedLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-whatChanged",
              "Handler": "handler.whatChanged",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6
            },
            "DependsOn": [
              "WhatChangedLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "WhatChangedLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "WhatChangedLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "BuildDockerLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-buildDocker",
              "Handler": "handler.buildDocker",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6
            },
            "DependsOn": [
              "BuildDockerLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "BuildDockerLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "BuildDockerLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "IsTheContainerBuiltLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-isTheContainerBuilt",
              "Handler": "handler.isTheContainerBuilt",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6
            },
            "DependsOn": [
              "IsTheContainerBuiltLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "IsTheContainerBuiltLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "IsTheContainerBuiltLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "IsItBuiltLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-isItBuilt",
              "Handler": "handler.isItBuilt",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6
            },
            "DependsOn": [
              "IsItBuiltLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "IsItBuiltLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "IsItBuiltLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "DoneLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-done",
              "Handler": "handler.done",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6
            },
            "DependsOn": [
              "DoneLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "DoneLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "DoneLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "StartStepFunctionLambdaFunction": {
            "Type": "AWS::Lambda::Function",
            "Properties": {
              "Code": {
                "S3Bucket": {
                  "Ref": "ServerlessDeploymentBucket"
                },
                "S3Key": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z/mattw-reinvent2017-build-website.zip"
              },
              "FunctionName": "mattw-reinvent2017-build-website-dev-startStepFunction",
              "Handler": "handler.startStepFunction",
              "MemorySize": 1024,
              "Role": {
                "Fn::GetAtt": [
                  "IamRoleLambdaExecution",
                  "Arn"
                ]
              },
              "Runtime": "nodejs6.10",
              "Timeout": 6,
              "Environment": {
                "Variables": {
                  "statemachine_arn": {
                    "Ref": "MyStateMachine"
                  }
                }
              }
            },
            "DependsOn": [
              "StartStepFunctionLogGroup",
              "IamRoleLambdaExecution"
            ]
          },
          "StartStepFunctionLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA": {
            "Type": "AWS::Lambda::Version",
            "DeletionPolicy": "Retain",
            "Properties": {
              "FunctionName": {
                "Ref": "StartStepFunctionLambdaFunction"
              },
              "CodeSha256": "XOp/cYY2iNxpJFhoYM7EwSXyjgfgdmMqEp/bNkCWGgA="
            }
          },
          "IamRoleStateMachineExecution": {
            "Type": "AWS::IAM::Role",
            "Properties": {
              "AssumeRolePolicyDocument": {
                "Version": "2012-10-17",
                "Statement": [
                  {
                    "Effect": "Allow",
                    "Principal": {
                      "Service": "states.us-east-1.amazonaws.com"
                    },
                    "Action": "sts:AssumeRole"
                  }
                ]
              },
              "Policies": [
                {
                  "PolicyName": "dev-us-east-1-mattw-reinvent2017-build-website-statemachine",
                  "PolicyDocument": {
                    "Version": "2012-10-17",
                    "Statement": [
                      {
                        "Effect": "Allow",
                        "Action": [
                          "lambda:InvokeFunction"
                        ],
                        "Resource": "*"
                      }
                    ]
                  }
                }
              ]
            }
          },
          "MyStateMachine": {
            "Type": "AWS::StepFunctions::StateMachine",
            "Properties": {
              "DefinitionString": "{\"StartAt\":\"WhatChanged\",\"States\":{\"WhatChanged\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-whatChanged\",\"Next\":\"BuildDockerOrNot\"},\"BuildDockerOrNot\":{\"Type\":\"Choice\",\"Choices\":[{\"Variable\":\"$.hasDocker\",\"BooleanEquals\":true,\"Next\":\"BuildDocker\"},{\"Variable\":\"$.hasDocker\",\"BooleanEquals\":false,\"Next\":\"BuildSite\"}]},\"BuildDocker\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-buildDocker\",\"Next\":\"WaitForDockerBuild\"},\"WaitForDockerBuild\":{\"Type\":\"Wait\",\"Seconds\":20,\"Next\":\"IsTheContainerBuilt\"},\"IsTheContainerBuilt\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-isTheContainerBuilt\",\"Next\":\"ContainerBuiltOrNot\"},\"ContainerBuiltOrNot\":{\"Type\":\"Choice\",\"Choices\":[{\"Variable\":\"$.containerBuildDone\",\"BooleanEquals\":true,\"Next\":\"BuildSite\"},{\"Variable\":\"$.containerBuildDone\",\"BooleanEquals\":false,\"Next\":\"WaitForDockerBuild\"}]},\"BuildSite\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-buildSite\",\"Next\":\"WaitForBuild\"},\"WaitForBuild\":{\"Type\":\"Wait\",\"Seconds\":10,\"Next\":\"IsItBuilt\"},\"IsItBuilt\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-isItBuilt\",\"Next\":\"BuiltOrNot\"},\"BuiltOrNot\":{\"Type\":\"Choice\",\"Choices\":[{\"Variable\":\"$.buildDone\",\"BooleanEquals\":true,\"Next\":\"Done\"},{\"Variable\":\"$.buildDone\",\"BooleanEquals\":false,\"Next\":\"WaitForBuild\"}]},\"Done\":{\"Type\":\"Task\",\"Resource\":\"arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-done\",\"End\":true}}}",
              "RoleArn": {
                "Fn::GetAtt": [
                  "IamRoleStateMachineExecution",
                  "Arn"
                ]
              }
            },
            "DependsOn": "IamRoleStateMachineExecution"
          },
          "StartStepFunctionSnsSubscriptionMattwreinventwebsitebuild": {
            "Type": "AWS::SNS::Subscription",
            "Properties": {
              "TopicArn": "arn:aws:sns:us-east-1:#{AWS::AccountId}:mattw-reinvent-websitebuild",
              "Protocol": "lambda",
              "Endpoint": {
                "Fn::GetAtt": [
                  "StartStepFunctionLambdaFunction",
                  "Arn"
                ]
              }
            }
          },
          "StartStepFunctionLambdaPermissionMattwreinventwebsitebuildSNS": {
            "Type": "AWS::Lambda::Permission",
            "Properties": {
              "FunctionName": {
                "Fn::GetAtt": [
                  "StartStepFunctionLambdaFunction",
                  "Arn"
                ]
              },
              "Action": "lambda:InvokeFunction",
              "Principal": "sns.amazonaws.com",
              "SourceArn": "arn:aws:sns:us-east-1:#{AWS::AccountId}:mattw-reinvent-websitebuild"
            }
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": {
              "Ref": "ServerlessDeploymentBucket"
            }
          },
          "BuildSiteLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "BuildSiteLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "WhatChangedLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "WhatChangedLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "BuildDockerLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "BuildDockerLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "IsTheContainerBuiltLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "IsTheContainerBuiltLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "IsItBuiltLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "IsItBuiltLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "DoneLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "DoneLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "StartStepFunctionLambdaFunctionQualifiedArn": {
            "Description": "Current Lambda function version",
            "Value": {
              "Ref": "StartStepFunctionLambdaVersionXOpcYY2iNxpJFhoYM7EwSXyjgfgdmMqEpbNkCWGgA"
            }
          },
          "MyStateMachineArn": {
            "Description": "Current StateMachine Arn",
            "Value": {
              "Ref": "MyStateMachine"
            }
          },
          "MyStateMachine": {
            "Description": "The ARN of the example state machine",
            "Value": {
              "Ref": "MyStateMachine"
            }
          }
        }
      },
      "coreCloudFormationTemplate": {
        "AWSTemplateFormatVersion": "2010-09-09",
        "Description": "The AWS CloudFormation template for this Serverless application",
        "Resources": {
          "ServerlessDeploymentBucket": {
            "Type": "AWS::S3::Bucket"
          }
        },
        "Outputs": {
          "ServerlessDeploymentBucketName": {
            "Value": {
              "Ref": "ServerlessDeploymentBucket"
            }
          }
        }
      },
      "vpc": {}
    },
    "custom": {
      "repoName": "reinvent2017-website"
    },
    "plugins": [
      "serverless-pseudo-parameters",
      "serverless-step-functions",
      "serverless-webpack"
    ],
    "functions": {
      "buildSite": {
        "handler": "handler.build",
        "events": [],
        "name": "mattw-reinvent2017-build-website-dev-buildSite",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      },
      "whatChanged": {
        "handler": "handler.whatChanged",
        "events": [],
        "name": "mattw-reinvent2017-build-website-dev-whatChanged",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      },
      "buildDocker": {
        "handler": "handler.buildDocker",
        "events": [],
        "name": "mattw-reinvent2017-build-website-dev-buildDocker",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      },
      "isTheContainerBuilt": {
        "handler": "handler.isTheContainerBuilt",
        "events": [],
        "name": "mattw-reinvent2017-build-website-dev-isTheContainerBuilt",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      },
      "isItBuilt": {
        "handler": "handler.isItBuilt",
        "events": [],
        "name": "mattw-reinvent2017-build-website-dev-isItBuilt",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      },
      "done": {
        "handler": "handler.done",
        "events": [],
        "name": "mattw-reinvent2017-build-website-dev-done",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      },
      "startStepFunction": {
        "handler": "handler.startStepFunction",
        "events": [
          {
            "sns": "arn:aws:sns:us-east-1:#{AWS::AccountId}:mattw-reinvent-websitebuild"
          }
        ],
        "environment": {
          "statemachine_arn": {
            "Ref": "MyStateMachine"
          }
        },
        "name": "mattw-reinvent2017-build-website-dev-startStepFunction",
        "package": {
          "artifact": ".serverless/mattw-reinvent2017-build-website.zip"
        },
        "vpc": {}
      }
    },
    "resources": {
      "Outputs": {
        "MyStateMachine": {
          "Description": "The ARN of the example state machine",
          "Value": {
            "Ref": "MyStateMachine"
          }
        }
      },
      "Resources": {}
    },
    "stepFunctions": {
      "stateMachines": {
        "FirstStateMachine": {
          "name": "myStateMachine",
          "definition": {
            "StartAt": "WhatChanged",
            "States": {
              "WhatChanged": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-whatChanged",
                "Next": "BuildDockerOrNot"
              },
              "BuildDockerOrNot": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.hasDocker",
                    "BooleanEquals": true,
                    "Next": "BuildDocker"
                  },
                  {
                    "Variable": "$.hasDocker",
                    "BooleanEquals": false,
                    "Next": "BuildSite"
                  }
                ]
              },
              "BuildDocker": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-buildDocker",
                "Next": "WaitForDockerBuild"
              },
              "WaitForDockerBuild": {
                "Type": "Wait",
                "Seconds": 20,
                "Next": "IsTheContainerBuilt"
              },
              "IsTheContainerBuilt": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-isTheContainerBuilt",
                "Next": "ContainerBuiltOrNot"
              },
              "ContainerBuiltOrNot": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.containerBuildDone",
                    "BooleanEquals": true,
                    "Next": "BuildSite"
                  },
                  {
                    "Variable": "$.containerBuildDone",
                    "BooleanEquals": false,
                    "Next": "WaitForDockerBuild"
                  }
                ]
              },
              "BuildSite": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-buildSite",
                "Next": "WaitForBuild"
              },
              "WaitForBuild": {
                "Type": "Wait",
                "Seconds": 10,
                "Next": "IsItBuilt"
              },
              "IsItBuilt": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-isItBuilt",
                "Next": "BuiltOrNot"
              },
              "BuiltOrNot": {
                "Type": "Choice",
                "Choices": [
                  {
                    "Variable": "$.buildDone",
                    "BooleanEquals": true,
                    "Next": "Done"
                  },
                  {
                    "Variable": "$.buildDone",
                    "BooleanEquals": false,
                    "Next": "WaitForBuild"
                  }
                ]
              },
              "Done": {
                "Type": "Task",
                "Resource": "arn:aws:lambda:#{AWS::Region}:#{AWS::AccountId}:function:mattw-reinvent2017-build-website-dev-done",
                "End": true
              }
            }
          }
        }
      },
      "activities": []
    }
  },
  "package": {
    "artifactDirectoryName": "serverless/mattw-reinvent2017-build-website/dev/1511814894322-2017-11-27T20:34:54.322Z",
    "artifact": ""
  }
}